@import url("/fonts/centurygothic/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 300;
  color: #30529F;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.bg-pink {
  background-color: #F585A7;
}

.bg-lightblue {
  background-color: #99E1EF;
}

.bg-blue {
  background-color: #8A9CC6;
}

.bg-violet {
  background-color: #AA89C0;
}

.header {
  width: 100%;
  position: relative;
}
.header > .header-content {
  width: 100%;
}
.header > .header-content > .container {
  padding: 50px 0 0 0;
}
@media (max-width: 1150px) {
  .header > .header-content > .container {
    padding: 50px 15px 0 15px;
    max-width: 100%;
  }
}
.header > .header-content > .container > .content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 575px) {
  .header > .header-content > .container > .content {
    gap: 20px;
  }
}
.header > .header-content > .container > .content > .logo {
  width: 100%;
  max-width: 226px;
}
.header > .header-content > .container > .content > .logo > a {
  height: 100%;
  min-height: 35px;
  width: 100%;
  display: flex;
  background-position: center;
  background-size: contain;
}
.header > .header-content > .container > .content > .header-nav-links {
  width: 100%;
  max-width: 635px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header > .header-content > .container > .content > .header-nav-links {
    display: none;
  }
}
.header > .header-content > .container > .content > .header-nav-links > a {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #30529F;
  transition: 0.3s;
}
.header > .header-content > .container > .content > .header-nav-links > a:hover {
  color: #F28F1B;
}
.header > .header-content > .container > .content > .header-nav-links-mobile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header > .header-content > .container > .content > .header-nav-links-mobile {
    display: flex;
  }
}
@media (max-width: 575px) {
  .header > .header-content > .container > .content > .header-nav-links-mobile {
    height: 25px;
    width: 30px;
  }
}
.header > .header-content > .container > .content > .header-nav-links-mobile > div {
  width: 100%;
  height: 5px;
  background-color: #30529F;
  border-radius: 5px;
}
.header > .header-content > .container > .content > .header-nav-links-mobile > div:hover {
  background-color: #F28F1B;
}
.header > .header-top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: url("/image/footer-background.jpg");
  background-repeat: repeat-x;
}
.header > .header-top-image > .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.header > .header-top-image > .header-top-image-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.header > .header-top-image > .header-top-image-container > .image {
  height: 600px;
  width: 1000px;
  padding: 100px 100px 0 100px;
  background: linear-gradient(145deg, #F7D7DB 100%, rgb(247, 215, 219) 80%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: path("M866.55 0.500104C635.788 0.500902 321.363 0.499752 122.5 0.500051C-76.3628 0.500349 -0.999687 434.31 122.5 515.5C246 596.69 371.501 452.5 506 452.5C640.5 452.5 772.6 604 866.55 515.5C960.5 427 1097.31 0.499305 866.55 0.500104Z");
}
@media (max-width: 768px) {
  .header > .header-top-image > .header-top-image-container > .image {
    padding: 100px 30px 0 15px;
  }
}
@media (max-width: 576px) {
  .header > .header-top-image > .header-top-image-container > .image {
    padding: 100px 0 0 40px;
    margin: -100px 0 0 0;
  }
}
.header > .header-top-image > .header-top-image-container > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header > .header-top-image > .header-top-image-container > .animation {
  animation-name: header-image-decoration;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main {
  flex-grow: 1;
}
.main > .main-content > .block-1 {
  padding: 150px 0 0 0;
  position: relative;
}
@media (max-width: 1150px) {
  .main > .main-content > .block-1 > .container {
    padding: 0 15px 0 15px;
    max-width: 100%;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 540px;
}
@media (max-width: 1399px) {
  .main > .main-content > .block-1 > .container > .block-1-content {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 1199px) {
  .main > .main-content > .block-1 > .container > .block-1-content {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .container > .block-1-content {
    padding: 50px 0 0 0;
    gap: 20px;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content > .title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #30529F;
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .container > .block-1-content > .title {
    font-size: 34px;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content > .text {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212F50;
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .container > .block-1-content > .text {
    font-size: 14px;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .container > .block-1-content > .buttons {
    gap: 20px;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons > button {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border: none;
  transition: 0.3s;
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .container > .block-1-content > .buttons > button {
    width: 100%;
  }
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons > .button-yellow {
  background: rgb(242, 143, 27);
  color: #F5F7FB;
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons > .button-yellow:hover {
  background: rgba(48, 82, 159, 0.2);
  color: #30529F;
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons > .button-lightblue {
  background: rgba(48, 82, 159, 0.2);
  color: #30529F;
}
.main > .main-content > .block-1 > .container > .block-1-content > .buttons > .button-lightblue:hover {
  background: rgb(242, 143, 27);
  color: #F5F7FB;
}
.main > .main-content > .block-1 > .decorations {
  position: absolute;
  width: 100%;
  z-index: -500;
}
@media (max-width: 575px) {
  .main > .main-content > .block-1 > .decorations {
    overflow: hidden;
  }
}
.main > .main-content > .block-1 > .decorations > .decoration-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.main > .main-content > .block-1 > .decorations > .decoration-1 > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.main > .main-content > .block-1 > .decorations > .decoration-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.main > .main-content > .block-1 > .decorations > .decoration-2 > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.main > .main-content > .slider-1 {
  padding: 190px 0 0 0;
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 1150px) {
  .main > .main-content > .slider-1 > .container {
    padding: 0 15px 0 15px;
    max-width: 100%;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 70px;
}
@media (max-width: 1399px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content {
    padding: 0 60px 0 60px;
    gap: 60px;
  }
}
@media (max-width: 1199px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content {
    padding: 0;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30529F;
  clip-path: path("m 27 2 c 14 -3 20 7 23 17 c 4 16 -4 27 -13 27 c -9 0 -21 -2 -28 -10 c -20 -23 5 -30 18 -34 z");
  cursor: pointer;
  transition: 0.3s;
  z-index: 50;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button:hover {
  background-color: #F28F1B;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button:hover > div {
  background-image: url("/image/icons/chevron-blue.svg");
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button {
    top: 200px;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button {
    top: 130px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button > div {
  height: 50%;
  width: 50%;
  background-image: url("/image/icons/chevron-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button-left {
  right: calc(100% + 15px);
}
@media (max-width: 1399px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button-left {
    left: 0;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button-right {
  left: calc(100% + 15px);
  transform: rotateY(180deg);
}
@media (max-width: 1399px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-button-right {
    left: unset;
    right: 0;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left {
  position: relative;
  width: 50%;
  height: 550px;
  min-width: 550px;
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left {
    height: 290px;
    width: 290px;
    min-width: 290px;
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left {
    width: 100%;
    height: 550px;
    min-width: 550px;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left {
    height: 290px;
    width: 290px;
    min-width: 290px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #F28F1B;
  z-index: -5;
  clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-background {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-background {
    clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-background {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .animation {
  animation-name: slider-1-image-1-decoration;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .animation {
    animation-name: slider-1-image-1-decoration-lg;
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .animation {
    animation-name: slider-1-image-1-decoration;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .animation {
    animation-name: slider-1-image-1-decoration-lg;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-image {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-image {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-image {
    justify-content: center;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-image > img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-packing {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-packing > img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 60%;
  left: 0;
  z-index: -4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional {
    height: 170px;
    width: 180px;
    top: 50%;
    left: -15px;
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional {
    height: 40%;
    width: 40%;
    top: 60%;
    left: 0;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional {
    height: 170px;
    width: 180px;
    top: 50%;
    left: -15px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .slider-block-background {
  background-color: pink;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: path("m 67 40 c 42 -32 79 -10 105 20 c 29 46 45 95 20 119 c -25 24 -102 12 -139 -3 c -105 -43 -28 -105 14 -136 z");
}
@media (max-width: 991px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .slider-block-background {
    clip-path: path("M52.5001 13.5C85.4963 -15.5135 125.35 10.6277 148.501 41.5004C183.023 87.5373 189.585 140.43 165.936 158.215C142.288 176 77.8325 170.202 46.9997 154.001C-42.2799 107.087 20.2611 41.8477 52.5001 13.5Z");
  }
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .slider-block-background {
    clip-path: path("m 67 40 c 42 -32 79 -10 105 20 c 29 46 45 95 20 119 c -25 24 -102 12 -139 -3 c -105 -43 -28 -105 14 -136 z");
  }
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .slider-block-background {
    clip-path: path("M52.5001 13.5C85.4963 -15.5135 125.35 10.6277 148.501 41.5004C183.023 87.5373 189.585 140.43 165.936 158.215C142.288 176 77.8325 170.202 46.9997 154.001C-42.2799 107.087 20.2611 41.8477 52.5001 13.5Z");
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #30529F;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-left > .slider-block-additional > .text {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-indent: 2px;
  color: #30529F;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right {
    width: 100%;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination {
    justify-content: center;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination > .pagination-item {
  height: 12px;
  width: 12px;
  min-width: 12px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #E6EBF4;
  cursor: pointer;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination > .pagination-item:hover {
  transform: scale(1.5);
  background-color: #30529F;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination > .active {
  background-color: #F28F1B;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-pagination > .active:hover {
  background-color: #F28F1B;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #30529F;
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-title {
    font-size: 28px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-text > p {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #869AC7;
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-text > p {
    font-size: 14px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons {
    gap: 20px;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > button {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border: none;
  transition: 0.3s;
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > button {
    width: 100%;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .button-yellow {
  background: rgb(242, 143, 27);
  color: #F5F7FB;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .button-yellow:hover {
  background: rgba(48, 82, 159, 0.2);
  color: #30529F;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link {
  position: relative;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link:hover > a {
  color: #F28F1B;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link:hover > .link-decoration {
  transform: translateY(-50%) translateX(10px) rotateY(180deg);
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link {
    width: 100%;
  }
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link > a {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: rgba(48, 82, 159, 0.57);
  transition: 0.3s;
}
.main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link > .link-decoration {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/icons/chevron-blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  transition: 0.3s;
  transform: translateY(-50%) rotateY(180deg);
}
@media (max-width: 575px) {
  .main > .main-content > .slider-1 > .container > .slider-1-content > .slider-block-right > .slider-block-buttons > .slider-block-link > .link-decoration {
    display: none;
  }
}
.main > .main-content > .block-2 {
  padding: 110px 0 0 0;
}
@media (max-width: 1150px) {
  .main > .main-content > .block-2 > .container {
    padding: 0 15px 0 15px;
    max-width: 100%;
  }
}
.main > .main-content > .block-2 > .container > .block-2-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 70px;
}
@media (max-width: 1399px) {
  .main > .main-content > .block-2 > .container > .block-2-content {
    gap: 50px;
  }
}
.main > .main-content > .block-2 > .container > .block-2-content > .title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #30529F;
  text-align: center;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
}
@media (max-width: 1399px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list {
    gap: 50px;
  }
}
@media (max-width: 575px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list {
    gap: 20px;
    justify-content: center;
  }
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1399px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item {
    max-width: calc((100% - 100px) / 3);
  }
}
@media (max-width: 991px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item {
    max-width: calc((100% - 50px) / 2);
  }
}
@media (max-width: 575px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item {
    max-width: 290px;
  }
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 130px;
  width: 180px;
}
@media (max-width: 575px) {
  .main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .image {
    justify-content: center;
    width: 100%;
  }
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #30529F;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .text {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212F50;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional:hover > .link {
  color: #F28F1B;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional:hover > .link-decoration {
  margin: 0 0 0 5px;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional > .icon {
  height: 25px;
  width: 25px;
  background-position: center;
  background-size: contain;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional > .link {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #30529F;
  transition: 0.3s;
}
.main > .main-content > .block-2 > .container > .block-2-content > .item-list > .item > .additional > .link-decoration {
  height: 15px;
  width: 15px;
  background-image: url(/image/icons/chevron-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
  transform: rotateY(180deg);
  margin: 0 5px 0 0;
}

.footer {
  width: 100%;
  background-image: url("/image/footer-background.jpg");
  background-repeat: repeat-x;
}
.footer > .footer-content {
  padding: 200px 0 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
@media (max-width: 575px) {
  .footer > .footer-content {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 1150px) {
  .footer > .footer-content > .container {
    padding: 50px 15px 0 15px;
    max-width: 100%;
  }
}
.footer > .footer-content > .container > .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer > .footer-content > .container > .content > .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1199px) {
  .footer > .footer-content > .container > .content > .footer-top {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .footer > .footer-content > .container > .content > .footer-top {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer > .footer-content > .container > .content > .footer-top > div {
  width: 100%;
  max-width: 320px;
}
.footer > .footer-content > .container > .content > .footer-top > .copyrights > .title {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #869AC7;
}
.footer > .footer-content > .container > .content > .footer-top > .copyrights > .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer > .footer-content > .container > .content > .footer-top > .copyrights > .text > p {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #869AC7;
}
.footer > .footer-content > .container > .content > .footer-top > .agreement {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer > .footer-content > .container > .content > .footer-top > .agreement:hover > .link {
  color: #F28F1B;
}
.footer > .footer-content > .container > .content > .footer-top > .agreement:hover > .link-decoration {
  margin: 0 0 0 10px;
}
.footer > .footer-content > .container > .content > .footer-top > .agreement > .link {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #869AC7;
}
.footer > .footer-content > .container > .content > .footer-top > .agreement > .link-decoration {
  height: 15px;
  width: 15px;
  margin: 0 5px 0 5px;
  background-image: url("/image/icons/chevron-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  transform: rotateY(180deg);
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .footer > .footer-content > .container > .content > .footer-top > .social-icons {
    max-width: 100%;
    justify-content: center;
    gap: 20px;
  }
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a {
  height: 50px;
  width: 50px;
  min-width: 50px;
  background-position: center;
  background-size: 65% 65%;
  transition: 0.3s;
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a:hover {
  transform: scale(1.2);
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a:nth-child(1) {
  clip-path: path("M47.7273 24.5455C47.7273 37.5995 38.7596 50 25.4545 50C12.1495 50 0 37.5995 0 24.5455C0 11.4915 4.42223 0 17.7273 0C31.0323 0 46.8182 9.54545 47.7273 24.5455Z");
  animation-duration: 11s;
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a:nth-child(2) {
  clip-path: path("M50.5 23.7705C50.5 35.5405 38.0897 42.623 26.3197 42.623C14.5497 42.623 0.5 28.9831 0.5 17.2131C0.5 5.44311 14.5497 0 26.3197 0C38.0897 0 50.5 12.0005 50.5 23.7705Z");
  animation-duration: 12s;
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a:nth-child(3) {
  clip-path: path("M50 17.2414C50 29.6202 38.0479 44.8276 25.431 44.8276C12.8142 44.8276 0 36.5167 0 24.1379C0 11.7591 12.8142 0 25.431 0C38.0479 0 50 4.86258 50 17.2414Z");
  animation-duration: 13s;
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > a:nth-child(4) {
  clip-path: path("M50.4199 16.5646C50.4199 29.0336 38.3807 44.3519 25.6718 44.3519C9.60726 44.3519 1.79207 31.3266 0.489543 20.4722C-0.813074 9.61772 16.4364 0.5 29.1452 0.5C46.0781 0.5 50.4199 4.09551 50.4199 16.5646Z");
  animation-duration: 14s;
}
.footer > .footer-content > .container > .content > .footer-top > .social-icons > .animation {
  animation-name: social-icons-decoration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.footer > .footer-content > .container > .content > .footer-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > .footer-content > .container > .content > .footer-bottom > .made-by {
  border-bottom: 1px dashed #30529F;
  transition: 0.3s;
}
.footer > .footer-content > .container > .content > .footer-bottom > .made-by:hover {
  border-bottom: 1px solid #F28F1B;
}
.footer > .footer-content > .container > .content > .footer-bottom > .made-by:hover > a {
  color: #F28F1B;
}
.footer > .footer-content > .container > .content > .footer-bottom > .made-by > a {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #30529F;
  transition: 0.3s;
}

.icon-logo {
  background-image: url("/image/logo.svg");
  background-repeat: no-repeat;
}

.icon-chevron-white {
  background-image: url("/image/icons/chevron-white.svg");
  background-repeat: no-repeat;
}

.icon-chevron-blue {
  background-image: url("/image/icons/chevron-blue.svg");
  background-repeat: no-repeat;
}

.icon-pointer {
  background-image: url("/image/icons/pointer.svg");
  background-repeat: no-repeat;
}

.icon-calc {
  background-image: url("/image/icons/calc.svg");
  background-repeat: no-repeat;
}

.icon-book {
  background-image: url("/image/icons/book.svg");
  background-repeat: no-repeat;
}

.icon-mail {
  background-image: url("/image/icons/mail.svg");
  background-repeat: no-repeat;
}

.icon-telegram {
  background-image: url("/image/icons/telegram.svg");
  background-repeat: no-repeat;
}

.icon-vk {
  background-image: url("/image/icons/vk.svg");
  background-repeat: no-repeat;
}

.icon-tiktok {
  background-image: url("/image/icons/tiktok.svg");
  background-repeat: no-repeat;
}

@keyframes header-image-decoration {
  0% {
    clip-path: path("M866.55 0.500104C635.788 0.500902 321.363 0.499752 122.5 0.500051C-76.3628 0.500349 -0.999687 434.31 122.5 515.5C246 596.69 371.501 452.5 506 452.5C640.5 452.5 772.6 604 866.55 515.5C960.5 427 1097.31 0.499305 866.55 0.500104Z");
  }
  25% {
    clip-path: path("M857.551 0.500104C626.789 0.500902 312.363 0.499752 113.5 0.500051C-85.3624 0.500349 15.499 405 136.499 480.5C257.5 556 330 483.5 495.5 503.5C661 523.5 731 527.5 820 431C909 334.5 1088.31 0.499305 857.551 0.500104Z");
  }
  50% {
    clip-path: path("M858.55 0.5C627.788 0.500799 312.667 0.499811 113.805 0.50011C-85.0581 0.500408 20.2354 384.974 113.805 467C207.374 549.026 230.364 449.953 441.5 467C652.636 484.047 656.087 551.849 803.5 467C950.913 382.151 1089.31 0.499201 858.55 0.5Z");
  }
  75% {
    clip-path: path("M841.55 0.5C610.788 0.500799 295.668 0.499811 96.8048 0.50011C-102.058 0.500408 50.0002 381.5 158 452.5C266 523.5 407 542.5 528 513C649 483.5 605.087 506.349 752.5 421.5C899.913 336.651 1072.31 0.499201 841.55 0.5Z");
  }
  100% {
    clip-path: path("M866.55 0.500104C635.788 0.500902 321.363 0.499752 122.5 0.500051C-76.3628 0.500349 -0.999687 434.31 122.5 515.5C246 596.69 371.501 452.5 506 452.5C640.5 452.5 772.6 604 866.55 515.5C960.5 427 1097.31 0.499305 866.55 0.500104Z");
  }
}
@keyframes slider-1-image-1-decoration {
  0% {
    clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
  }
  25% {
    clip-path: path("M13.9736 302.288C-11.4999 193.5 0.747686 156 43.1145 101.438C85.4812 46.8767 273 -17.4998 450.481 5.36404C576.085 21.5449 518.5 351.5 440.357 390.993C402.399 410.176 370 414.5 262.127 425.812C162.839 436.224 24.8574 348.769 13.9736 302.288Z");
  }
  50% {
    clip-path: path("M16.9734 381.288C46.1143 340.5 -53.5001 222.5 46.1142 180.438C145.729 138.377 342.461 -133.272 453.481 84.3641C564.5 302 516.713 371.485 443.357 469.993C370 568.5 367.254 445.123 265.127 504.812C163 564.5 -12.1674 422.076 16.9734 381.288Z");
  }
  75% {
    clip-path: path("M8.97347 318.288C-11.553 223.077 8.97349 194 38.1143 117.438C67.2551 40.8767 370.961 -38.2722 445.481 21.3639C520 81.0001 468.5 364.5 435.357 406.993C402.213 449.485 306.848 447.618 257.127 441.812C149.606 429.255 29.4999 413.5 8.97347 318.288Z");
  }
  100% {
    clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
  }
}
@keyframes slider-1-image-1-decoration-lg {
  0% {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
  25% {
    clip-path: path("M10.4994 198.5C-0.634117 174.646 -7.49998 135.5 20.3319 84.1157C48.1639 32.7312 195.137 -40.3419 244.935 29.015C284.497 84.1157 248.771 188.112 230.997 232.498C222.131 254.637 197.66 266.314 133 254.999C59.0221 242.054 24.5025 228.502 10.4994 198.5Z");
  }
  50% {
    clip-path: path("M40.4968 251.001C7.03152 240.934 -30.5045 66.0018 40.4966 25.5018C111.498 -14.9981 203.522 -5.89826 255 50.4999C312.504 113.5 284.373 216.442 249.993 244.502C206.495 280.002 221.5 238.001 163 238.001C87.8981 238.001 90.495 266.042 40.4968 251.001Z");
  }
  75% {
    clip-path: path("M0.000446731 118.502C0.000888446 -64.9989 72.4987 71.0002 143.5 30.5003C214.501 -9.9997 236.254 -16.707 262.5 54.9999C290.5 131.5 271.662 231.857 238.991 246.504C195.5 266 152.998 217.501 79.5008 235.501C6.55474 253.366 0.000242533 203.15 0.000446731 118.502Z");
  }
  100% {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
}
@keyframes social-icons-decoration {
  0% {
    clip-path: path("M47.7273 24.5455C47.7273 37.5995 38.7596 50 25.4545 50C12.1495 50 0 37.5995 0 24.5455C0 11.4915 4.42223 0 17.7273 0C31.0323 0 46.8182 9.54545 47.7273 24.5455Z");
  }
  25% {
    clip-path: path("M50.5 23.7705C50.5 35.5405 38.0897 42.623 26.3197 42.623C14.5497 42.623 0.5 28.9831 0.5 17.2131C0.5 5.44311 14.5497 0 26.3197 0C38.0897 0 50.5 12.0005 50.5 23.7705Z");
  }
  50% {
    clip-path: path("M50 17.2414C50 29.6202 38.0479 44.8276 25.431 44.8276C12.8142 44.8276 0 36.5167 0 24.1379C0 11.7591 12.8142 0 25.431 0C38.0479 0 50 4.86258 50 17.2414Z");
  }
  75% {
    clip-path: path("M50.4199 16.5646C50.4199 29.0336 38.3807 44.3519 25.6718 44.3519C9.60726 44.3519 1.79207 31.3266 0.489543 20.4722C-0.813074 9.61772 16.4364 0.5 29.1452 0.5C46.0781 0.5 50.4199 4.09551 50.4199 16.5646Z");
  }
  100% {
    clip-path: path("M47.7273 24.5455C47.7273 37.5995 38.7596 50 25.4545 50C12.1495 50 0 37.5995 0 24.5455C0 11.4915 4.42223 0 17.7273 0C31.0323 0 46.8182 9.54545 47.7273 24.5455Z");
  }
}

/*# sourceMappingURL=index.css.map */
