@keyframes header-image-decoration {
  0% {
    clip-path: path("M866.55 0.500104C635.788 0.500902 321.363 0.499752 122.5 0.500051C-76.3628 0.500349 -0.999687 434.31 122.5 515.5C246 596.69 371.501 452.5 506 452.5C640.5 452.5 772.6 604 866.55 515.5C960.5 427 1097.31 0.499305 866.55 0.500104Z");
  }
  25% {
    clip-path: path("M857.551 0.500104C626.789 0.500902 312.363 0.499752 113.5 0.500051C-85.3624 0.500349 15.499 405 136.499 480.5C257.5 556 330 483.5 495.5 503.5C661 523.5 731 527.5 820 431C909 334.5 1088.31 0.499305 857.551 0.500104Z");
  }
  50% {
    clip-path: path("M858.55 0.5C627.788 0.500799 312.667 0.499811 113.805 0.50011C-85.0581 0.500408 20.2354 384.974 113.805 467C207.374 549.026 230.364 449.953 441.5 467C652.636 484.047 656.087 551.849 803.5 467C950.913 382.151 1089.31 0.499201 858.55 0.5Z");
  }
  75% {
    clip-path: path("M841.55 0.5C610.788 0.500799 295.668 0.499811 96.8048 0.50011C-102.058 0.500408 50.0002 381.5 158 452.5C266 523.5 407 542.5 528 513C649 483.5 605.087 506.349 752.5 421.5C899.913 336.651 1072.31 0.499201 841.55 0.5Z");
  }
  100% {
    clip-path: path("M866.55 0.500104C635.788 0.500902 321.363 0.499752 122.5 0.500051C-76.3628 0.500349 -0.999687 434.31 122.5 515.5C246 596.69 371.501 452.5 506 452.5C640.5 452.5 772.6 604 866.55 515.5C960.5 427 1097.31 0.499305 866.55 0.500104Z");
  }
}

@keyframes slider-1-image-1-decoration {
  0% {
    clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
  }
  25% {
    clip-path: path("M13.9736 302.288C-11.4999 193.5 0.747686 156 43.1145 101.438C85.4812 46.8767 273 -17.4998 450.481 5.36404C576.085 21.5449 518.5 351.5 440.357 390.993C402.399 410.176 370 414.5 262.127 425.812C162.839 436.224 24.8574 348.769 13.9736 302.288Z");
  }
  50% {
    clip-path: path("M16.9734 381.288C46.1143 340.5 -53.5001 222.5 46.1142 180.438C145.729 138.377 342.461 -133.272 453.481 84.3641C564.5 302 516.713 371.485 443.357 469.993C370 568.5 367.254 445.123 265.127 504.812C163 564.5 -12.1674 422.076 16.9734 381.288Z");
  }
  75% {
    clip-path: path("M8.97347 318.288C-11.553 223.077 8.97349 194 38.1143 117.438C67.2551 40.8767 370.961 -38.2722 445.481 21.3639C520 81.0001 468.5 364.5 435.357 406.993C402.213 449.485 306.848 447.618 257.127 441.812C149.606 429.255 29.4999 413.5 8.97347 318.288Z");
  }
  100% {
    clip-path: path("M 35 353 C -4 325 -28 270 64 152 C 155 35 379 -66 471 56 C 547 157 510 364 461 441 C 438 478 372 556 283 477 C 200 410 73 381 34 353 Z");
  }
}

@keyframes slider-1-image-1-decoration-lg {
  0% {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
  25% {
    clip-path: path("M10.4994 198.5C-0.634117 174.646 -7.49998 135.5 20.3319 84.1157C48.1639 32.7312 195.137 -40.3419 244.935 29.015C284.497 84.1157 248.771 188.112 230.997 232.498C222.131 254.637 197.66 266.314 133 254.999C59.0221 242.054 24.5025 228.502 10.4994 198.5Z");
  }
  50% {
    clip-path: path("M40.4968 251.001C7.03152 240.934 -30.5045 66.0018 40.4966 25.5018C111.498 -14.9981 203.522 -5.89826 255 50.4999C312.504 113.5 284.373 216.442 249.993 244.502C206.495 280.002 221.5 238.001 163 238.001C87.8981 238.001 90.495 266.042 40.4968 251.001Z");
  }
  75% {
    clip-path: path("M0.000446731 118.502C0.000888446 -64.9989 72.4987 71.0002 143.5 30.5003C214.501 -9.9997 236.254 -16.707 262.5 54.9999C290.5 131.5 271.662 231.857 238.991 246.504C195.5 266 152.998 217.501 79.5008 235.501C6.55474 253.366 0.000242533 203.15 0.000446731 118.502Z");
  }
  100% {
    clip-path: path("M18.6967 198.882C-2.50848 183.284 -15.3616 152.45 35.3363 86.1185C86.0341 19.7872 209.493 -37.2138 259.939 31.0178C301.681 87.4771 280.55 203.526 253.226 247.387C240.616 267.628 203.629 311.517 154.98 267.446C114.114 230.427 39.9018 214.48 18.6967 198.882Z");
  }
}

@keyframes social-icons-decoration {
  0% {
    clip-path: path("M47.7273 24.5455C47.7273 37.5995 38.7596 50 25.4545 50C12.1495 50 0 37.5995 0 24.5455C0 11.4915 4.42223 0 17.7273 0C31.0323 0 46.8182 9.54545 47.7273 24.5455Z");
  }
  25% {
    clip-path: path("M50.5 23.7705C50.5 35.5405 38.0897 42.623 26.3197 42.623C14.5497 42.623 0.5 28.9831 0.5 17.2131C0.5 5.44311 14.5497 0 26.3197 0C38.0897 0 50.5 12.0005 50.5 23.7705Z");
  }
  50% {
    clip-path: path("M50 17.2414C50 29.6202 38.0479 44.8276 25.431 44.8276C12.8142 44.8276 0 36.5167 0 24.1379C0 11.7591 12.8142 0 25.431 0C38.0479 0 50 4.86258 50 17.2414Z");
  }
  75% {
    clip-path: path("M50.4199 16.5646C50.4199 29.0336 38.3807 44.3519 25.6718 44.3519C9.60726 44.3519 1.79207 31.3266 0.489543 20.4722C-0.813074 9.61772 16.4364 0.5 29.1452 0.5C46.0781 0.5 50.4199 4.09551 50.4199 16.5646Z");
  }
  100% {
    clip-path: path("M47.7273 24.5455C47.7273 37.5995 38.7596 50 25.4545 50C12.1495 50 0 37.5995 0 24.5455C0 11.4915 4.42223 0 17.7273 0C31.0323 0 46.8182 9.54545 47.7273 24.5455Z");
  }
}