.icon-logo {
  background-image: url("/image/logo.svg");
  background-repeat: no-repeat;
}

.icon-chevron-white {
  background-image: url("/image/icons/chevron-white.svg");
  background-repeat: no-repeat;
}

.icon-chevron-blue {
  background-image: url("/image/icons/chevron-blue.svg");
  background-repeat: no-repeat;
}

.icon-pointer {
  background-image: url("/image/icons/pointer.svg");
  background-repeat: no-repeat;
}

.icon-calc {
  background-image: url("/image/icons/calc.svg");
  background-repeat: no-repeat;
}

.icon-book {
  background-image: url("/image/icons/book.svg");
  background-repeat: no-repeat;
}

.icon-mail {
  background-image: url("/image/icons/mail.svg");
  background-repeat: no-repeat;
}

.icon-telegram {
  background-image: url("/image/icons/telegram.svg");
  background-repeat: no-repeat;
}

.icon-vk {
  background-image: url("/image/icons/vk.svg");
  background-repeat: no-repeat;
}

.icon-tiktok {
  background-image: url("/image/icons/tiktok.svg");
  background-repeat: no-repeat;
}